{% load staticfiles extra_filters %}

<html ng-app="eworld_base_module">

<div class="modal-content" ng-controller="AuthorizationController">
    <div class="modal-body">

        <form method="POST" class="form-horizontal" ng-submit="submit()"> {% csrf_token %}
            {% for field in form %}
                <div class="form-group form-group-lg">
                    <label for="{{ field.id_for_label }}">{{ field.errors }}</label>
                    <input ng-model="{{ field.name }}" value="{% if field.value %}{{ field.value }}{% endif %}" type="{{ field|get_field_type }}"
                           class="form-control" name="{{ field.name }}" id="{{ field.id_for_label }}"
                           placeholder="{{ field.help_text }}" required>
                </div>
            {% endfor %}

            {#                <div class="form-group">#}
            {#                    <div class="col-sm-offset-2 col-sm-10">#}
            {#                        <div class="checkbox">#}
            {#                            <label>#}
            {#                                <input type="checkbox"> Запомнить меня [[2+2]] [[namee]]#}
            {#                            </label>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="form-group">#}
            {#                    <div class="col-sm-offset-2 col-sm-10">#}
            {#                        <a href="#">Забыли пароль?</a>#}
            {#                    </div>#}
            {#                </div>#}

            <div class="modal-footer text-center">

                [[1+1]]
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="submit" id="submit" class="btn btn-default">Вход</button>
                <button type="button" ng-click="testFunction()" class="btn btn-default">TEST</button>
            </div>

        </form>

    </div>
</div>

</html>

<script src="{% static 'js/angularjs/1.4.1/angular.min.js' %}"></script>
<script src="{% static 'eworld/js/angular/eworld_module.js' %}"></script>
{#<script src="{% static 'profiles/AuthorizationController.js' %}"></script>#}
{#<script src="{% static 'eworld/js/angular/modal_module.js' %}"></script>#}