{% extends "eworld/base_template.html" %}
{% load staticfiles %}

{% block body %}
<div class="home inverse" ng-controller="IndexPageController">

<div class="container-fluid">

    {% block menu %} {{ block.super }} {% endblock %}

    <main id="primary" class="">

        <section id="hero">
            <div class="content container">
                <h1 class="logo_big_white ew-icon-logo-big">Eworld <small>сервис идеальных праздников</small></h1>
                <ul class="capabilities_entries row">
                    <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6 capabilities_item"><h4 class="inverse organizer_icon">Найти организатора <small class="hidden-sm hidden-xs">среди 9 000 профелей</small></h4></li>
                    <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6 capabilities_item"><h4 class="inverse project_icon">Создать мероприятие <small class="hidden-sm hidden-xs">Разместить задание на организацию мероприятия</small></h4></li>
                    <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6 capabilities_item"><h4 class="inverse reduction_icon">Редукцион проекта<small class="hidden-sm hidden-xs">Оформить редукцион проекта</small></h4></li>
                    <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6 capabilities_item"><h4 class="inverse faq_icon">Найти ответы <small class="hidden-sm hidden-xs">На большую часть вопросов Вам поможет найти ответ раздел FAQ</small></h4></li>
                </ul>
                <p class="support-info phone_icon"><span itemprop="telephone">+7(435) 435 56 56</span><span itemprop="email">info@eworld.com</span><span><small>При возникновении сложностей на всех этапах работы Вам поможет Наша служба поддержки</small></span></p>
            </div>
        </section>

        <section id="utp" class="inverse">
            <div class="container content">
                <h1>Почему с Eworld Вы получаете больше?</h1>
                <ul id="utp_entries">
                    <li class="item"><span><strong>9000</strong> Все организаторы на одном портале</span></li>
                    <li class="item"><span class="talk_icon">Выбирая исполнителя Вы можете пообщаться с ним с помощью нашего сервиса</span></li>
                    <li class="item"><span class="project_icon">С помощью Eworld Вы можете разместить задание на организацию мероприятия и  выбрать из десятков подходящих кандидатов!</span></li>
                    <li class="item"><span class="reduction_icon">Воспользуйтесь Редукционом Eworld. Подходящие под Ваши требования организаторы и компании будут сражаться за Ваш проект понижая указанную Вами стоимость!</span></li>
                    <li class="item"><span class="safeguards_icon">Вы имеете возможность воспользоваться гарантией Eworld и не сомнваться в качестве услуг Организатора!</span></li>
                </ul>
            </div>
        </section>

        <section id="why_us">
            <div class="content container">
            <h1>Какие задачи помогает решить Eworld?</h1>
                <div class="row">
                    <ul class="categories_entries">
                        <li class="col-lg-2 col-md-4 col-sm-6 col-xs-6 categories_item compere_icon"><h3>Ведущие свадеб, корпоративов, праздников</h3></li>
                        <li class="col-lg-2 col-md-4 col-sm-6 col-xs-6 categories_item music_icon"><h3>Актеры и певцы</h3></li>
                        <li class="col-lg-2 col-md-4 col-sm-6 col-xs-6 categories_item halls_icon"><h3>Банкетные залы</h3></li>
                        <li class="col-lg-2 col-md-4 col-sm-6 col-xs-6 categories_item photographies_icon"><h3>Фотографы</h3></li>
                        <li class="col-lg-2 col-md-4 col-sm-6 col-xs-6 categories_item floristry_icon"><h3>Флористика</h3></li>
                        <li class="col-lg-2 col-md-4 col-sm-6 col-xs-6 categories_item transport_icon"><h3>Аренда транспорта</h3></li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="about" class="inverse">
            <div class="container content">
                <div id="promo_video" class="embed-responsive embed-responsive-16by9">
                    <iframe src="//player.vimeo.com/video/31702030?color=ffffff&title=0&byline=0&portrait=0" width="500" height="281" frameborder="0" class="embed-responsive-item" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
                <div class="row">
                    <ul class="capabilities_pull">
                        <li class="col-lg-4 col-md-4 col-sm-4"><a href="#" class="btn inverse organizer_icon">Найти организатора</a></li>
                        <li class="col-lg-4 col-md-4 col-sm-4"><a href="#" class="btn inverse project_icon">Организовать мероприятие</a></li>
                        <li class="col-lg-4 col-md-4 col-sm-4"><a href="#" class="btn inverse reduction_icon">Оформить редукцион</a></li>
                    </ul>
                </div>

            </div>
        </section>

        <section id="bg" class="hidden-xs hidden-sm"></section>
    <footer class="inverse">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 col-lg-push-5 col-md-push-5">
                    <p class="support-info phone_icon"><span itemprop="telephone">+7(435) 435 56 56</span><span itemprop="email">info@eworld.com</span></p>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 col-lg-pull-2 col-md-pull-2 text-right">

                <a href="{% url 'profile:registration' %}" class="btn btn-outline btn-lg inverse">Регистрация</a>
{#                <a href="{% url 'profile:authorization' %}" class="btn btn-outline btn-lg inverse" ng-click="open()" data-toggle="modal" data-target="#login_modal" >Вход</a>#}
                <button class="btn btn-outline btn-lg inverse" ng-click="open_auth_modal()">Вход</button>

{#                <!-- Modal HTML -->#}
{#                <div class="modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">#}
{#                    <div class="modal-dialog">#}
{#                        <div class="modal-content">#}
{#                            <!-- Content will be loaded here from "profile:authorization" url-->#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}

                <ul class="social nav nav-pills">
                    <li><a href="#" class="brandico-twitter-bird"></a></li>
                    <li><a href="#" class="brandico-facebook"></a></li>
                    <li><a href="#" class="brandico-googleplus-rect"></a></li>
                    <li><a href="#" class="brandico-odnoklassniki"></a></li>
                    <li><a href="#" class="brandico-vkontakte-rect"></a></li>
                    <li><a href="#" class="brandico-instagram-filled"></a></li>
                </ul>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="#">Реквизиты</a></li>
                        <li><a href="#">Договор оферты для Заказчиков</a></li>
                        <li><a href="#">Договор оферты для исполнителей</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    </main>
</div>

</div>
{% endblock %}