{% extends "eworld/base_template.html" %}
{% load staticfiles %}

{% block body %}

<div class="container-fluid" ng-controller="SingleOrderController">
    <main id="page">
        {% block menu %} {{ block.super }} {% endblock %}
            <section id="profile" class="min">
                <header>
                    <div class="cover-overlay" style="background-image: url(https://unsplash.imgix.net/photo-1421779399549-3004b5ad7fa5?dpr=2&fit=crop&fm=jpg&h=600&q=75&w=700)"></div>
                    <a href="#" class="avatar ew-icon-organizer" style="background-image: url(https://ununsplash.imgix.net/photo-1429497587953-2e68f09d4283?dpr=2&fit=crop&fm=jpg&h=225&q=75&w=350);"></a>
                    <button type="button" class="navbar-toggle collapsed ew-icon-open-sub" data-toggle="collapse" data-target="#profile_menu"></button>
                    <h1>{{ user.first_name }} {{ user.last_name }}</h1>
                    <ul class="rating">
                        <li class="on"></li>
                        <li class="on"></li>
                        <li class="on"></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </header>
                <ul class="statistic row">
                    <li class="col-md-4 col-sm-12"><span>{{ order.order_views.count }}</span>просмотры</li>
                    <li class="col-md-4 col-sm-12"><span class="cash">5,00</span>баланс</li>
                    <li class="col-md-4 col-sm-12"><span>3,7</span>рейтинг</li>
                </ul>
                <nav id="profile_menu" class="collapse navbar-collapse">
                    <ul class="nav nav-pills nav-stacked nav-icons">
                        <li><a href="#" class="ew-icon-organizer">Моё резюме</a></li>
                        <li><a href="{% url 'eworld:my_auctions_list' %}" class="ew-icon-reduction">Мои аукционы</a></li>
                        <li><a href="{% url 'eworld:orders_list' %}" class="ew-icon-project">Заказы</a></li>
                        <li><a href="#" class="ew-icon-calendar">Каледнарь занятости</a></li>
                    </ul>
                </nav>
            </section>

    <section id="content" class="single-project">
        <header class="clearfix">
            <h1 class="ew-icon-project">{{ order.name }}</h1>
            <aside class="meta">
                <p class="ew-icon lead">{{ order.price }} руб.</p>
                <time class="ew-icon ew-icon-clock">{{ order.event_date }}</time>
                <a href="#" class="ew-icon ew-icon-transport">
                    {% for category in order_categories %}
                        {{ category }}
                        {% if not forloop.last %}
                            ,
                        {% endif %}
                    {% endfor %}
                </a>
                <a href="#" class="ew-icon ew-icon-city">{{ order.city.name }}</a>
                {% if order_attaches %}
                    <span class="ew-icon ew-icon-attach">
                        {% for attach in order_attaches %}
                            <a href="{{ attach.file.url }}" target="_blank">{{ attach.filename }}</a>
                            {% if not forloop.last %}
                                ,
                            {% endif %}
                        {% endfor %}
                    </span>
                {% endif %}
            </aside>
            <div class="description">
                <p class="lead">{{ order.description }}</p>
            </div>
        </header>
        <article>
            <div class="single-content">
                <p>{{ order.requirements }}</p>
            </div>
        </article>

        <section class="comment-form">
            <form>
                <p class="comment-meta">
                     <a href="#" class="user"><img src="{{ user.avatar.url }}" class="avatar img-circle" />{{ user.first_name }} {{ user.last_name }}</a>
                </p>
                <div class="form-group-lg">
                    <label for="commentText" class="sr-only">Комментарий</label>
                    <textarea id="commentText" class="form-control" placeholder="Комментарий" name="new_comment_text" ng-model="new_comment_text" rows="9"></textarea>
                    <p class="help-block">Example block-level help text here.</p>
                </div>
{#                <button class="btn btn-primary" ng-click="make_comment()">Отправить</button>#}
                <button class="btn btn-primary" ng-click="make_comment()">Отправить</button>
            </form>
        </section>
        <ul class="comment-list">
            <li class="comment-item" ng-repeat="comment in comments">
                <span class="comment-text">[[comment.text]]</span>
                <span class="comment-meta">
                     <a href="#" class="user"><img src="[[comment.owner.avatar]]" class="avatar img-circle" />[[comment.owner.last_name]] [[comment.owner.first_name]]</a> <span title="[[comment.owner.cities | allCities]]">[[comment.owner.cities | firstCity]]</span> <time>[[comment.datetime | date:"HH:mm dd.MM.yyyy"]]</time>
                </span>
            </li>
        </ul>
    </section>

    </main>
</div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        // CONSTANTS BLOCK
        var ORDER_ID = {{ order.id }};
        // END CONSTANTS BLOCK
    </script>
    {{ block.super }}
    <script src="{% static 'eworld/js/angular/services/EventsServices.js' %}"></script>
    <script src="{% static 'eworld/js/angular/controllers/SingleOrderController.js' %}"></script>
{% endblock %}